---
import Layout from "../layouts/Layout.astro";
import "../css/input.css";
import FormContainer from "../components/FormContainer.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <!-- <p class="text-white text-[4rem]">Hello there</p> -->
        <div class="flex flex-col max-w-[80rem] bg-white">
            <div class="">
                <img
                    class="w-full"
                    src="illustration-sign-up-mobile.svg"
                    alt=""
                />
            </div>
            <FormContainer />
        </div>
    </main>
</Layout>

<style></style>
