---
import Layout from "../layouts/Layout.astro";
import "../css/input.css";
import FormContainer from "../components/FormContainer.astro";
---

<Layout title="Welcome to Astro.">
    <main class="h-full grid content-center">
        <div class="m-[0_auto] flex flex-col max-w-[80rem]">
            <div class="sm:rounded-t-3xl bg-white overflow-hidden">
                <img
                    class="w-full"
                    src="illustration-sign-up-mobile.svg"
                    alt=""
                />
            </div>
            <FormContainer />
        </div>
    </main>
</Layout>

<style></style>
