<div class="flex flex-col gap-[2rem] px-[2.5rem] py-[3.5rem]">
    <h2 class="text-[3.6rem] font-bold">Stay updated!</h2>
    <p class="text-[1.5rem] font-bold">
        Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="features-list">
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem]">
                Product discovery and building what matters
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem]">
                Measuring to ensure updates are a success
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem]">And much more!</p>
        </li>
    </ul>
    <form action="" id="email-form" class="flex flex-col gap-[1rem]">
        <label class="text-[1.125rem] font-bold" for="email"
            >Email address</label
        >
        <input
            type="email"
            name="email"
            id="email"
            placeholder="email@company.com"
            class="py-[1rem] px-[2rem] border-[.15rem] border-gray rounded-[.75rem] text-[1.5rem]"
        />
    </form>

    <button form="email-form" class="bg-bg_color py-[1.5rem] text-[1.35rem] text-white rounded-[.75rem]">
        subscribe to monthly newsletter
    </button>
</div>
