<div
    id="form-wrapper"
    class="flex flex-col gap-[2rem] px-[2.5rem] py-[3.5rem] bg-white max-sm:rounded-b-3xl md:rounded-l-3xl lg:pl-[5rem] lg:pr-[2.5rem] lg:py-[7rem]"
>
    <h2 class="text-[3.6rem] font-bold lg:text-[4.5rem]">Stay updated!</h2>
    <p class="text-[1.5rem] font-bold">
        Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="features-list">
        <li class="flex gap-[1rem] p-[.5rem] pl-0">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem] lg:text-[1.5rem]">
                Product discovery and building what matters
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem] pl-0">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem] lg:text-[1.5rem]">
                Measuring to ensure updates are a success
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem] pl-0">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center text-[1.35rem] lg:text-[1.5rem]">
                And much more!
            </p>
        </li>
    </ul>
    <form action="" id="email-form" class="flex flex-col gap-[1rem]">
        <div class="relative">
            <label
                class="text-[1.125rem] font-bold lg:text-[1.25rem] relative"
                for="email"
                >Email address
            </label>
            <span
                id="emailErrorText"
                class="absolute top-[50%] left-[100%] translate-x-[-100%] translate-y-[-50%] w-max opacity-0"
                >*</span
            >
        </div>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="email@company.com"
            class="py-[1.25rem] px-[2rem] border-[.15rem] border-gray rounded-[.75rem] text-[1.5rem]"
        />
    </form>

    <button
        id="submitBtn"
        form="email-form"
        class="bg-bg_color py-[1.5rem] text-[1.35rem] text-white rounded-[.75rem] font-bold tracking-wide"
    >
        Subscribe to monthly newsletter
    </button>
</div>

<script>
    // Regular expression for the email validation:
    const emailRegEx =
        /^([-!#-'*+/-9=?A-Z^-~]+(\.[-!#-'*+/-9=?A-Z^-~]+)*|"([]!#-[^-~ \t]|(\\[\t -~]))+")@([-!#-'*+/-9=?A-Z^-~]+(\.[-!#-'*+/-9=?A-Z^-~]+)+|\[[\t -Z^-~]*])$/;

    // HTML Elements:
    const form = document.getElementById("email-form");

    const emailInput = document.getElementById("email");

    const emailError = document.getElementById("emailErrorText");

    const formImg = document.getElementById("form-img");
    console.log(formImg);

    const formWrapper = document.getElementById("form-wrapper");
    console.log(formWrapper);

    const successWindow = document.getElementById("success-window");
    console.log(successWindow);

    const emailValue = document.getElementById("email-value");

    // Functions:
    function emailValidation() {
        if (emailInput.value.length === 0) {
            emailError.style.opacity = "1";
            emailError.textContent = "Email input must not be empty";
            emailInput.classList.add("invalid");
            emailError.style.color = "hsl(4, 100%, 67%)";
            return false;
        } else {
            if (emailRegEx.test(emailInput.value)) {
                emailError.style.opacity = "0";
                emailError.textContent = "Nice";
                emailInput.classList.remove("invalid");
                return true;
            } else {
                emailError.style.opacity = "1";
                emailError.textContent = "Valid email required";
                emailInput.classList.add("invalid");
                emailError.style.color = "hsl(4, 100%, 67%)";
                return false;
            }
        }
    }

    // INPUT VALIDATION
    emailInput.addEventListener("input", emailValidation);

    // SUBMIT VALIDATION
    form.addEventListener("submit", function (e) {
        if (emailValidation()) {
            e.preventDefault();

            formImg.classList.toggle("hidden");
            formWrapper.classList.toggle("hidden");
            emailValue.textContent = emailInput.value;
            successWindow.classList.toggle("hidden");

            //return;
        } else {
            e.preventDefault();
        }
    });
</script>
