<div class="px-[2.5rem] py-[1.5rem]">
    <h2 class="font-bold">Stay updated!</h2>
    <p class="">Join 60,000+ product managers receiving monthly updates on:</p>
    <ul class="features-list">
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center">
                Product discovery and building what matters
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center">
                Measuring to ensure updates are a success
            </p>
        </li>
        <li class="flex gap-[1rem] p-[.5rem]">
            <img src="icon-list.svg" alt="" class="w-[1.5rem]" />
            <p class="content-center">And much more!</p>
        </li>
    </ul>
    <form action="" id="email-form" class="flex flex-col gap-[1rem]">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" placeholder="email@company.com" />
    </form>

    <button form="email-form" class=""> subscribe to monthly newsletter </button>
</div>
