<div
    id="success-window"
    class="hidden h-full max-w-[40rem] flex flex-col justify-end bg-white px-[2rem] py-[4rem] md:rounded-3xl md:px-[5rem]"
>
    <img
        src="/icon-success.svg"
        alt="success icon"
        class="w-[6.5rem] pt-[10rem] pb-[4rem] justify-start md:pt-[1rem] md:pb-[2rem]"
    />
    <p class="text-[4rem] font-bold leading-[1.125] pb-[2rem]">
        Thanks for subscribing!
    </p>
    <p class="text-[1.65rem] pb-[20rem] md:pb-[3rem] md:text-[1.35rem]">
        A confirmation email has been sent to <strong id="email-value"
            >randomemail@email.com</strong
        > . Please open it and click the button inside to confirm your subscrition
    </p>
    <button
        id="dismiss-btn"
        class="bg-bg_color text-[1.25rem] text-white font-bold tracking-wider p-[2rem] rounded-2xl btn-cta"
        >Dismiss message</button
    >
</div>

<script>
    const successWindow = document.getElementById("success-window");

    const dismissBtn = document.getElementById("dismiss-btn");

    const formImg = document.getElementById("form-img");

    const formWrapper = document.getElementById("form-wrapper");

    dismissBtn.addEventListener("click", () => {
        successWindow.classList.toggle("hidden");
        formImg.classList.toggle("hidden");
        formWrapper.classList.toggle("hidden");
    });
</script>
