<div class="h-full flex flex-col bg-white px-[2rem] py-[4rem] hidden">
    <img src="/icon-success.svg" alt="success icon" class="w-[8rem]" />
    <p class="">thanks for subscribing!</p>
    <p class="">
        A confirmation email has been sent to . Please open it and click the
        button inside to confirm your subscrition
    </p>
    <button class="">dismiss message</button>
</div>
